In [1]:
elements=[2,3,4,5,7,6,8]

In [9]:
for i in elements:
    print(i)

2
3
4
5
7
6
8

In [ ]:
#if,else,elif statements

In [ ]:
if some_condition
  #execute some code
else:
    # do something else

In [2]:
if True:
    print('its true')

its true

In [6]:
if 4>2:
   print('its ture')

its ture

In [10]:
if True:
   print('feed me')

feed me

In [14]:
hungry=True
if hungry:
    print('feed me')

feed me

In [19]:
hungry=False
if hungry:
   print('feed me')
else:
     print("I 'm not hungry")

I 'm not hungry

In [27]:
loc= 'Bank'
if loc=='Auto shop':
   print('Cars are cool')
else:
    print('I do not know much')

I do not know much

In [28]:
loc='bank'
if loc=='auto shop':
    print('cars are cool')
elif loc=='bank':
     print('money is cool$$')
else:
    print('I do not know much')

money is cool$$

In [29]:
loc='store'
if loc=='auto shop':
    print('cars are cool')
elif loc=='bank':
    print('money is coll$$')
elif loc=='store':
    print('welcome to the shop')
else:
    print('i do not know much')

welcome to the shop

In [30]:
#for loop

In [38]:
my_iterable=[1,2,3,4,5,6,7,8]
for happy in my_iterable:
    print(happy)

1
2
3
4
5
6
7
8

In [8]:
mylist=[1,2,3,4,5,6,7]
for num in mylist:
    print('amchokey')

amchokey
amchokey
amchokey
amchokey
amchokey
amchokey
amchokey

In [46]:
mylist=[1,2,3,4,5,6,7,8,9]
for num in mylist:
    if num%2==0:
        print(num)

2
4
6
8

In [14]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    if num%2 ==0:
        print(num)
    else:
        print(f'Odd number{num}')

Odd number1
2
Odd number3
4
Odd number5
6
Odd number7
8
Odd number9
10

In [19]:
mylist=[1,2,3,4,5,6,7,8,9,10]
list_sum=0
for num in mylist:
    list_sum=list_sum +num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [22]:
mylist=[1,2,3,4,5,6,7,8,9,10]
list_sub=0
for num in mylist :
    list_sub=list_sub-num
    print(list_sub)

-1
-3
-6
-10
-15
-21
-28
-36
-45
-55

In [23]:
mystring='sakul rai'
for name in mystring:
    print(name)

s
a
k
u
l

r
a
i

In [25]:
for letter in 'sakul rai':
    print('letter')

letter
letter
letter
letter
letter
letter
letter
letter
letter

In [32]:
for _ in 'sakul rai':
      print('happy')

happy
happy
happy
happy
happy
happy
happy
happy
happy

In [33]:
tup=[1,2,3,4]
for item in tup:
    print(item)

1
2
3
4

In [35]:
mylist=[(2,4),(2,6),(5,7),(2,5),(5,9)]
for a,b in mylist:
    print(a)
    #print(b)

2
2
5
2
5

In [39]:
mylist=[(2,4),(2,6),(5,7),(2,5),(5,9)]
for fv1,fv2 in mylist:
    print(fv2)
    print(fv1)

4
2
6
2
7
5
5
2
9
5

In [1]:
d={'k1':1,'k2':2,'k3':3}
for item in d.values():
    print(item)

1
2
3

In [1]:
#while loops in python

In [2]:
#while boolen_condition
       #do something 
#else:
      #do something else

In [3]:
x=0
while x<5:
    print(f'the current value of x is {x}')
    #x=x+1
    x+=1
else:
    print('x is not less than 5')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
x is not less than 5

In [4]:
#break,continue,pass

In [7]:
#break:breaks out of the closest enclosing loop
#continue:goes to the top of the closest enclosing loop
#pass:it does nothing at all

In [9]:
x=[1,2,3,4]
for item in x:
    #gsdgsd
    pass
print('the end of my script')

the end of my script

In [29]:
mystring='sakul rai'
for letter in mystring:
    if letter=='a':
        continue
    print(letter)

s
k
u
l

r
i

In [22]:
mystring= 'April'
for letter in mystring:
    if letter=='i':
        break
    print(letter)

A
p
r

In [33]:
x=0
while x<5:
    if x==2:
        break
    print(x)
    x+=1

0
1